name: Build Debug APK
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      
      - name: Build Debug APK
        run: ./gradlew :src:all:Kavita:assembleDebug
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Kavita-debug
          path: src/all/Kavita/build/outputs/apk/debug/Kavita-debug.apk

